{
  "openapi": "3.1.0",
  "info": {
    "title": "VirtualFit Try-On API",
    "version": "v1.0.0",
    "description": "Submit a garment GLB + a customer image and get back a 3D-rendered try-on image. JWT-authenticated, rate-limited, no paid APIs in the pipeline.",
    "license": {
      "name": "Apache-2.0"
    },
    "contact": {
      "name": "VirtualFit",
      "url": "https://virtualfit.app"
    }
  },
  "servers": [
    {
      "url": "https://api.virtualfit.app/api/v1",
      "description": "Production (planned)"
    }
  ],
  "security": [
    {
      "BearerJwt": []
    }
  ],
  "paths": {
    "/tryOn": {
      "post": {
        "summary": "Render a try-on image",
        "operationId": "tryOn",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TryOnRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Try-on image rendered",
            "headers": {
              "X-RateLimit-Limit": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "schema": {
                  "type": "integer"
                },
                "description": "Unix epoch seconds"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TryOnResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Problem"
          },
          "401": {
            "$ref": "#/components/responses/Problem"
          },
          "403": {
            "$ref": "#/components/responses/Problem"
          },
          "422": {
            "$ref": "#/components/responses/Problem"
          },
          "429": {
            "description": "Rate limit exceeded",
            "headers": {
              "Retry-After": {
                "schema": {
                  "type": "integer"
                }
              }
            },
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerJwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "HS256 JWT, audience 'tryon.v1', exp <= 3600s. Required claims: sub, aud, exp, iat."
      }
    },
    "schemas": {
      "TryOnRequest": {
        "type": "object",
        "required": [
          "garmentUrl",
          "imageUrl"
        ],
        "additionalProperties": false,
        "properties": {
          "garmentUrl": {
            "type": "string",
            "format": "uri",
            "pattern": "\\.glb(\\?.*)?$",
            "description": "https URL ending in .glb (3D-only)"
          },
          "imageUrl": {
            "type": "string",
            "format": "uri"
          },
          "options": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "fabric": {
                "type": "string",
                "enum": [
                  "default",
                  "cotton",
                  "denim",
                  "leather",
                  "silk",
                  "satin",
                  "wool",
                  "polyester",
                  "metallic"
                ]
              },
              "size": {
                "type": "string",
                "enum": [
                  "XS",
                  "S",
                  "M",
                  "L",
                  "XL",
                  "XXL"
                ]
              },
              "view": {
                "type": "string",
                "enum": [
                  "front",
                  "side",
                  "back"
                ]
              },
              "returnFormat": {
                "type": "string",
                "enum": [
                  "png",
                  "webp",
                  "jpeg"
                ]
              }
            }
          }
        }
      },
      "TryOnResponse": {
        "type": "object",
        "required": [
          "tryOnImageUrl",
          "jobId",
          "durationMs",
          "modelVersion",
          "fabricUsed",
          "expiresAt"
        ],
        "properties": {
          "tryOnImageUrl": {
            "type": "string",
            "format": "uri"
          },
          "jobId": {
            "type": "string",
            "pattern": "^job_[a-z0-9]{8,32}$"
          },
          "durationMs": {
            "type": "integer",
            "minimum": 0
          },
          "modelVersion": {
            "type": "string"
          },
          "fabricUsed": {
            "type": "string",
            "enum": [
              "default",
              "cotton",
              "denim",
              "leather",
              "silk",
              "satin",
              "wool",
              "polyester",
              "metallic"
            ]
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Problem": {
        "type": "object",
        "required": [
          "type",
          "title",
          "status"
        ],
        "properties": {
          "type": {
            "type": "string",
            "format": "uri"
          },
          "title": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          },
          "detail": {
            "type": "string"
          },
          "instance": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "Problem": {
        "description": "RFC 7807 problem details",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Problem"
            }
          }
        }
      }
    }
  },
  "x-rate-limits": {
    "freeTier": {
      "requestsPerMinute": 60,
      "requestsPerDay": 5000
    },
    "proTier": {
      "requestsPerMinute": 600,
      "requestsPerDay": 100000
    }
  },
  "x-api-version": "v1.0.0"
}